---
import Layout from "@/layouts/Layout.astro";
import { TransactionsView } from "@/components/TransactionsView";
import { AppHeader } from "@/components/AppHeader";
import { AppFooter } from "@/components/AppFooter";
import { AppSidebar } from "@/components/AppSidebar";
import { MobileNav } from "@/components/MobileNav";
---

<Layout title="Transakcje - SmartBudgetAI">
  <div class="flex min-h-screen">
    <div class="hidden lg:block">
      <AppSidebar currentPage="transactions" userRole={Astro.locals.user?.role} client:load />
    </div>

    <div class="flex flex-1 flex-col transition-all duration-300" id="main-content">
      <AppHeader
        currentPage="transactions"
        userEmail={Astro.locals.user?.email}
        userNickname={Astro.locals.user?.nickname}
        userRole={Astro.locals.user?.role}
        client:load
      />
      <main class="flex-1 bg-background pb-16 lg:pb-0">
        <div class="container mx-auto px-4 py-8">
          <TransactionsView client:load />
        </div>
      </main>
      <AppFooter client:load />
    </div>

    <MobileNav currentPage="transactions" client:load />
  </div>
</Layout>
